extends layout

include utils.pug

block content
    form(action='/users/signup' method="POST")
        input(type="hidden", name="_csrf" value=csrfToken)
        +field("Username", "username", user.username, true)
        +field("Password", "hashedPassword", user.hashedPassword, true, "password")
        button(type="submit") Login
