extends layout

include utils.pug

block content
    +validationErrorSummary(errors)
    form(action='/stories/new' method="POST")
        input(type="hidden", name="_csrf" value=csrfToken)
        +field("Title", "title", story.title, true)
        +field("Hook", "hook", story.hook, true)
        +field("Body", "body", story.body, true, "textarea")
        +field("Picture URL", "picture", story.picture)
        button(type="submit") Publish

        h1 Hello
