extends layout

append head
    link(rel="stylesheet", href="/stylesheets/login.css")

include utils.pug

block content
    div.main-container
        div.errors
            if errors
                ul
                    each error in errors
                        li= error
        div.login-div
            form(action='/users/login' method="POST").login-form
                input(type="hidden", name="_csrf" value=csrfToken)
                +field("Username", "username", username, true).username
                +field("Password", "password", "", true, "password").password
                button.login(type="submit") Login
