extends layout

append head
    link(rel="stylesheet", href="/stylesheets/login.css")

include utils.pug

block content
    div.main-container
        div.errors
            if errors
                ul
                    each error in errors
                        li= error
        div.login-div
            form(action='/users/login' method="POST").login-form
                input(type="hidden", name="_csrf" value=csrfToken)
                +field("Username", "username", username, false).username
                +field("Password", "password", "", false, "password").password
                button.login(type="submit") Login
                button.login(type="submit" name="guest_login" value="true") Log in as Guest
