extends layout
append head
    link(rel="stylesheet", href="/stylesheets/signup.css")

include utils.pug

block content
    if errors
        div.outer
            div.errors
                p The following errors occurred:
                ul
                    each error in errors
                        li= error
    div.border
        div.container
            form(action='/users/signup' method="POST")
                input(type="hidden", name="_csrf" value=csrfToken)
                +field("Name", "name", user.name)
                +field("Username", "username", user.username, true)
                +field("Email", "email", user.email, true, "email")
                +field("Avatar URL", "avatarUrl", user.avatarUrl)
                +field("Biography", "biography", user.biography, false, "textarea")
                +field("Password", "hashedPassword", user.hashedPassword, true, "password")
                +field("Confirm Password", "confirmPassword", null, true, "password")
                button.regbtn(type="submit") Register
