extends layout
append head
    link(rel="stylesheet", href="/stylesheets/new-story.css")

include utils.pug

block content
    +validationErrorSummary(errors)
    div.border
        div.container
            form(action='/stories/new' method="POST")
                input(type="hidden", name="_csrf" value=csrfToken)
                +field("Title", "title", story.title, true)
                +field("Hook", "hook", story.hook, true)
                +field("Body", "body", story.body, true, "textarea")
                +field("Picture URL", "picture", story.picture)
                button.regbtn(type="submit") Publish


