body {
  color: #222222;
  background-color: #FAFAFA;
  font-family: 'Lora', serif;
}

a {
    text-decoration: none;
}

.logo-background{
  display: flex;
  background-color: #FAFAFA;
  height: 3em;
  width: 12.5em;
  border-radius: .5em;
  margin: 1em auto;
  margin-left: 1em;
}

.website-logo{
  height: 2.5em;
  width: 2.5em;
}

.website-logo-text {
  color: #1c5d99;
  font-family: 'Cinzel', serif;
}

.nav-outer-div {
  display: flex;
  height: 5em;
  background-color: #1c5d99;
  border-radius: 0em;
  justify-content: space-between;
}

.left {
  /* width: 30%; */
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* .left img {
  margin: .25em .5em;
  border-radius: 1em;
} */

.left h1 {
  margin: .25em .5em;
  color: rgb(209, 213, 218)
}

.title-text {
  font-family: 'Cinzel', serif;
}

.right {
  /* width: 30%; */
  display: flex;
  flex-direction: row;
}

.right a {
  align-self: center;
  justify-self: center;
}

.right img {
  max-width: 2.5em;
  max-height: 2.5em;
  border-radius: .25em;
  margin: .25em .5em;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right button {
  margin: .25em .5em;
  border-radius: .25rem;
  padding: .5em;
  font-size: .8em;
  background-color: #639fab;
  color: rgb(209, 213, 218);
  border: 3px solid rgb(209, 213, 218);
}

.auth-btns {
  background-color: #1c5d99;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.button {
  margin: .25em .5em;
  border-radius: .25rem;
  padding: .5em;
  font-size: .8em;
  background-color: #639fab;
  color: rgb(209, 213, 218);
  border: 3px solid rgb(209, 213, 218);
}

.logo img {
  margin: .25em .5em;
  border-radius: 1em;
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid; */
    box-sizing: border-box;
    /* margin-top: 0px; */
    position: sticky;
    bottom: 0;
    min-width: 100%;
    height: 100px;
    /* z-index: 3; */
    background: linear-gradient(to bottom, #f9f9f9,#c4ffdd );
    background-color: #c4ffdd
}
.personal-info-container {
    display: inline-block;
    /* border: 1px solid #113A5D; */
    border-radius: 10px;
    box-sizing: border-box;
    /* background: linear-gradient(to right, #c4ffdd, #f9f9f9); */
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
}
.name {
    font-size: 24px;
    font-weight: 400;
}
