


.liked-true {
    background-color: red;
    color:  blue;
}

.liked-false {
    background-color: orange;
    color: black;
}

.article {
    margin: 25px 30px; 

}

.article__title {
    font-family: fell, Georgia, Cambria, “Times New Roman”, Times, serif;
    font-size: 48px;
    color: #292929;

}

.article__description {
    font-size: 20px;
    color: #757575;
    font-family: sohne, “Helvetica Neue”, Helvetica, Arial, sans-serif;
}



.authorBar {
    display: grid;
    grid-template-columns: 50px 100px;
    grid-template-rows: 30px 30px;
    
    width: auto;

}

.authorBar__pic {
    grid-area: 1|1|3|1
}

.article__author {
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    grid-area: 1|2|2|3
}

.follow-button__following {
    margin: .25em .5em;
    border-radius: .25rem;
    padding: .5em;
    width: 5em;
    font-size: 1.2em;
    background-color: #0b7425;
    color: rgb(209, 213, 218);
    border: 3px solid rgb(209, 213, 218);
}
.follow-button__unfollowing {
    margin: .25em .5em;
    border-radius: .25rem;
    padding: .5em;
    width: 5em;
    font-size: 1.2em;
    background-color: #7c1a01;
    color: rgb(209, 213, 218);
    border: 3px solid rgb(209, 213, 218);
}





