
.liked-true {
     background-image: url(../images/thumbs-up.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
    background-color: #FAFAFA;
  height: 20px;
  width: 80px;
  border: none;
}
.liked-true:focus,
#storybtns__like:focus,
.liked-false:focus {
    outline: 0;
    /* border: none; */
}

.liked-false {

    background-image: url(../images/thumbs-up-outline.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /* background-color: white; */
  height: 20px;
  width: 80px;
  border: none;
  background-color: #FAFAFA;
}

.article {
    margin: 25px 30px;
    padding-left: 10%;
    padding-right: 10%;

}

.article__title {
    font-family: fell, Georgia, Cambria, “Times New Roman”, Times, serif;
    font-size: 48px;
    color: #292929;

}

.article__description {
    font-size: 20px;
    color: #757575;
    font-family: sohne, “Helvetica Neue”, Helvetica, Arial, sans-serif;
}



.authorBar {
    display: grid;
    grid-template-columns: min-content 100px max-content auto auto;
    grid-template-rows: 50px 50px;
    grid-template-areas:
    "img name follow"
    "img date date";
}

.authorBar__pic {
    grid-area: img;
    height: 75px;
    margin-right: 15px;
}

.article__picture{
    width: 90%;
}

.article__author {
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    grid-area: name;
}
.article__dateCreated{
    color: #757575;
    font-size: 14px;
}

#storybtns__follow {
    grid-area: follow;
    font-size: 13px;

}
#storybtns__follow:focus {
    grid-area: follow;
    outline: 0;
    font-size: 13px;

}

.article__dateCreated {
    grid-area: date;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* rgba(117, 117, 117, 1) */
}

.article__body{
    font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 18px;
}

.follow-button__following {
    font-size: 13px;
    margin-left: 5px;
    border-radius: .25rem;
    /* padding: .5em; */
    width: 6em;
    font-size: 1.2em;
    background-color: green;
    color: white;
    border: 3px solid rgba(26, 137, 23, 1);
    align-self: center;
    height: 20px;
}
.follow-button__unfollowing {
    height: 20px;
    font-size: 13px;
    align-self: center;
    margin-left: 5px;
    border-radius: .25rem;
    /* padding: .5em; */
    width: 6em;
    font-size: 1.2em;
    background-color: white;
    color: green;
    border: 3px solid rgba(26, 137, 23, 1);
}

.comment__body{
    list-style-type: none;
}

.newComment__text {
    height: 8em;
    width: 20em;
    border-radius: .5em;
    overflow-y: auto;
    border: 1px solid #222222;
    resize: none;
    margin-top: 1em;
}

.newComment__submit{
    margin: .4em 0em;
    border-radius: .25rem;
    padding: .5em;
    font-size: .8em;
    background-color: #30575f;
    color: rgb(209, 213, 218);
    border: 3px solid rgb(209, 213, 218);
}
.comment__delete {
    margin: .4em 0em;
    border-radius: .25rem;
    padding: .5em;
    font-size: .8em;
    background-color: #30575f;
    color: rgb(209, 213, 218);
    border: 3px solid rgb(209, 213, 218);
    margin-left: 0.5em;
    border-radius: 10px;
}

.comment__div img{
    max-height: 2em;
    border-radius: 10px;
    margin: 0em 0.5em

}
